# Go build artifacts
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go modules
/go.sum

# Dependency directories
/vendor/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.bak

# OS files
.DS_Store
Thumbs.db